# OS
.DS_Store
[Tt]humbs.db

# Compiled class file
*.class
target/
build/
out/

# SVN
.svn/

# Log file
logs/
*.log

# Idea
.idea/
*.iml

# Eclipse
.settings/
.classpath
.project
.factorypath

# MyEclipse
.myeclipse/

# Nodejs
node_modules/

# Vim
.*.swp

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs
hs_err_pid*

# JRebel
rebel.xml
rebel-remote.xml
### Example user template template
### Example user template

# IntelliJ project files
out
gen
