<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smart.search.mapper.UserMapper">

    <insert id="insertUser">
        INSERT INTO `user` (
            id,
            `name`,
            password,
            remark,
            login_time
        ) VALUES (
            #{id},
            #{name},
            #{password},
            #{remark},
            #{loginTime}
        )
    </insert>
</mapper>